/* ==========================================================================
   colores.css - Paleta de colores tanto para Modo Claro como para Modo Oscuro
   Respeta las pautas de accesibilidad WCAG 2.2 para contraste de color y 
   legibilidad.    Cotejado por la app Colour Contrasr Analizer para tener un
    ratio de contraste mínimo de 4.5:1 para texto normal y 3:1 para texto grande.
   ========================================================================== */
/* Paleta de colores por defecto (Modo Claro) */
/* Custom Properties (variables)  */
:root {
    --fondo-principal: #FAFAFA;
    --texto-principal: #1A1A1A;
    --color-primario: #0056b3; 
    --color-superficie: #FFFFFF;
    --borde: #CCCCCC;
    --fondo-footer: #F0F0F0;
    --texto-boton: #FFFFFF;
}

/* Paleta de colores (Modo Oscuro) */
body.modo-oscuro {
    --fondo-principal: #121212;
    --texto-principal: #E0E0E0;
    --color-primario: #66B2FF; 
    --color-superficie: #1E1E1E;
    --borde: #333333;
    --fondo-footer: #000000;
    --texto-boton: #000000;
}

/* Aplicación global de las variables */
body {
    background-color: var(--fondo-principal);
    color: var(--texto-principal);
    /* Transición suave para el cambio de tema */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Transitions/Using */
    /* Esto permite una transicion suave en cambio de colores. Esto no solo permite ser agradable y atractivo a la vista,
    sino que los cambios bruscos de las imágenes pueden causar:
    - sobrecarga cognitiva
    - crisis vertiginosas en pacientes que padecen enfermedad de Menier o vertigo de origen central
    - convulsiones a pacientes con trastornos neurológicos
    A la vez, el no ser ser mayor a 0,3 segundos, evita perder usuarios ansiosos que no esperan pausas largas. */
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* --- ESTILOS DEL BOTÓN --- */
#btn-tema {
    background: transparent; 
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-tema:focus, 
#btn-tema:hover {
    outline: 2px solid var(--texto-principal);
    outline-offset: 2px;
}

/* Fijo el tamaño exacto de los íconos para que no se desborden en pruebas de reflujo */
#btn-tema img {
    width: 35px;
    height: 35px;
}

/* LÓGICA DE VISIBILIDAD DE LOS ÍCONOS */

/* Por defecto (Modo Claro): Ocultamos el sol (primer hijo) y mostramos la luna (último hijo) */
#btn-tema img:first-child {
    display: none;
}
#btn-tema img:last-child {
    display: block;
}

/* Cuando estamos en Modo Oscuro: Mostramos el sol (primer hijo) y ocultamos la luna (último hijo) */
body.modo-oscuro #btn-tema img:first-child {
    display: block;
}
body.modo-oscuro #btn-tema img:last-child {
    display: none;
}